header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 8%;
  background: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

header .logo {
  font-size: 30px;
  font-weight: bolder;
  color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
}

header .logo p {
  margin-top: 10px;
  margin-left: 10px;
  color: #1b7ced;
  font-weight: 700;
  font-size: 32px;
  cursor: pointer;
}

header .navbar {
  margin-top: 10px;
}

header .navbar a {
  font-size: 25px;
  margin: 0 20px;
  color: var(--black);
  border-radius: 10px;
  padding: 5px 10px;
}

header .navbar a:hover {
  color: #1b7ced;
  background: gainsboro;
}

header button {
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 15px;
  font-size: 16px;
}

/* Button */
.header-btn {
  padding: 10px 25px;
  font-size: 20px;
  border-radius: 8px;
  text-align: center;
  color: #fff;
  background: #1b7ced;
  cursor: pointer;
  outline: none;
  border: none;
}
